#ajax_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.85);
    height: 100%;
    width: 100%;
    z-index: 999;
    display: none;
    opacity: 0;
}

#ajax_dialog
{
    background: none repeat scroll 0 0 #fff;
    display: none;
    height: 250px;
    left: 50%;
    margin-left: -175px;
    margin-top: -125px;
    position: fixed;
    top: 50%;
    width: 350px;
    z-index: 99999;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
}

#ajax_closer
{
    background: url("../images/artnet/ajaxcallback/closer.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 75px;
    position: absolute;
    right: -35px;
    top: -35px;
    width: 75px;
}

#ajax_message
{
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    z-index: 99999999999999999999;
    padding: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    width: 360px;
    height: 55px;
    margin-top: -27.5px;
    margin-left: -185px;
    display: none;
}

#callback
{
    background: #ff9c00;
    min-width: 215px;
    border: none;
    outline: none;
    height: 28px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    cursor: pointer;
    padding: 0 20px;
}

#callback:hover, #ajax_closer:hover, #ajax_dialog button:hover
{
    opacity: .8;
}

#ajax_dialog .input-block > input {
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 16px;
    color: #000;
    border-radius: 5px;
}

#ajax_dialog .input-block > label {
    float: left;
    position: relative;
    top: 13px;
    font-weight: bold;
}

#ajax_dialog .input-block {
    text-align: right;
    margin: 25px 0px;
}

#ajax_dialog form
{
    width: 275px;
    display: block;
    margin: 40px auto;
}

#ajax_dialog button
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #029488, #029488) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #029387 #014740 #014740 #029387;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block
}

#ajax_dialog .ajax-error
{
    border: 1px solid red;
}