<button class="btn_ajax_callback" id="callback">Заказать обратный звонок</button>
<div id="ajax_overlay"></div>
<div id="ajax_dialog">
    <div id="ajax_closer"></div>
    <form method="post" action="/callback">
        <div class="input-block">
            <label for="name">Имя</label>
            <input type="text" name="name" placeholder="Введите имя">
        </div>
        <div class="input-block">
            <label for="phone">Телефон</label>
            <input type="tel" name="phone" placeholder="Введите телефон">
        </div>
        <button type="submit">Отправить</button>
    </form>
</div>
<div id="ajax_message"></div>